body
{ 
    width: 100%;
    margin-left: 15px;
    padding-left: 20px;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
   
}
header
{   
    display: flex;
    justify-content: space-between;
    
}
header img
{
    width: 120px;
    height: 45px;
    margin-top: 40px;
    padding: 5px;
}
p
{
    color:#000
}

h3
{
    color: #000;
}

input.search_data
{
    font-weight: 900;
}

nav
{
    margin-top: 50px;
    display: flex;


}

a
{

    text-decoration: none;

}

nav a
{
    padding-right: 25px;
    padding-left: 25px;
}

nav strong
{
    padding-right: 25px;
    padding-left: 25px;
}


nav a:visited
{
    color: #000
}

nav a:hover
{
    color: #0065fc;
    border-top: 3px solid #0065fc;
    padding-top: 45px;
    
}

nav a:visited
{
    color: #000;
}


.fas
{   
    color: #0065FC;
    font-size: 18px;

}
#conteneur
{
    display: flex;
    margin-top: 30px;
    flex-wrap: wrap;
    
}

.filtitre
{
padding-left: 20px;
padding-right: 20px;
font-weight: bold;
}

#cont1
{
    display: flex;
}

#cont2
{
    display: flex;
}

#cont3
{
   display: flex;
}

#conteneur .fas 
{
 
	background-color: #DEEBFF;
    border-radius :50%;
    border:2px solid #DEEBFF;
    padding: 16px;
    margin: -10px;
    
}
#conteneur h2
{
    margin-right: 30px;
}
.filtres
{

    display: flex;
    align-items: center;
    margin-right: 30px;
    border: 2px solid #d9d9d9;
    border-radius: 30px;
    margin-bottom: 15px;
}
.filtres p
{
    padding: 10px 30px 10px 30px;
    font-weight: bold;
    margin: 0px;
    
}
form
{
    display: flex; 

}
form .fas
{
    border: 2px solid #F2F2F2
    border-radius: 30px;
    padding: 21px;
    align-items: center;

}
.fas.fa-map-marker-alt
{
    background-color: #F2F2F2;
    color: #000;
    border-radius: 25% 0% 0% 25%;
    padding: 19px;
}


.search_data
{
    color: #F2F2F2;
    background-color: #FFFF;
    text-align: center;
    border-color: #ffffff;
    
   
}
button
{
    background-color: #0065FC;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 0 15px 15px 0;
    padding: 0 15px;
    font-family: "Raleway", "Sans serif";
    font-size: 15px;
    cursor: pointer;
    width: 150px;    
}

i.fas.fa-search
{
    color:white;
    display: none;
}

.search_data, .btn-right-fleche
{
    height: 50px;
}

.info
{
    display: flex;
    align-items: center;
    margin: 15px 0px 30px 0px

}
.fas.fa-info
{   
    height: 30px;
    width: 30px;
    min-height: 30px;
    min-width: 15px;
    border: solid 3px #F2F2F2;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
    margin: 8px;
  
}
.info p
{

    padding: 0px 0px 0px 15px;

}

.fas.fa-child
{
    padding: 25px;
}
.fas.fa-chart-line
{
    color:black;
    padding: 25px;
}
#populaire
{
    display: flex;
    justify-content: space-between;
}

#populaire h2
{
    padding-left: 20px;
}

#hebergements
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 56px;
}

#global
{
    display: flex;
    flex-wrap: wrap;
    
}

#part1
{   
    background-color: #F2F2F2;
    border-radius: 30px;
    padding: 44px 36px 44px 36px;
    max-width: 59%;
    margin-right: 3%;

}

#part1 h2
{
    padding-left: 15px;
}

#Aplus
{
    padding-left: 15px;
}

#Acth2
{
    padding-left: 25px;
}

#part3
{ 
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-radius: 30px;
    background-color: #F2F2F2;
}

#part3 figure
{
    display: flex;
    width: 403px;
    
}

#part3 figure img
{
    width: 40%;
    height: 230px;
    border: 2px solid white;
    border-radius: 20px 0px 20px 20px;
}

figure
{
    width: 300px;
    background-color: #FFFF;
    border-radius: 20px;
    border: 4px solid#FFFF;
    margin: 18px;
    
   
}
figure img
{
    border-radius: 20px 20px 0px 0px;
    width: 100%;
    height: 150px;
    margin-top: 0px;
    object-fit: cover;
}
figcaption
{
    background-color: #ffffff;
    width: 100%;
    border: 2px solid white;
    border-radius: 0px 0px 20px 20px;
}
figcaption p
{
    padding-left: 5px;
}
figcaption h3
{
    padding-left: 5px;
}
figcaption .fa-star
{
    padding-left: 5px;
    
}
#grey
{
    color: #F2F2F2;
}

article
{
    width: max-content;
    height: max-content;
}

footer
{
    display: flex;
    width: 100%;
    border: 1px #F2F2F2 ;
    padding:5px;
    background-color: #F2F2F2;
    
   
}

footer h3
{
    padding-left: 40px;
}

#mform
{
    padding-left: 300px;
    padding-right: 300px;
}

ul
{
    list-style-type: none;
}

li
{
    margin-bottom: 12px;
}

article figcaption
{
    box-shadow: 0px 3px 0px #F2F2F2; 
}

#actividad
{
    display: flex;
    justify-content:space-between ;
    width: 90%;
}

#vieuxport img
{
    height: 500px;
}

#vieuxport figure
{
    width: 300px;
}

#calanque img
{
    height: 500px;
}

#calanque figure
{
    width: 300px;
}

#pomegue img
{
    height: 275px;
}

#frioul img
{
    height: 100px;
}

#act2 img
{
    height: 185px;
}

@media screen and (min-width:375px) and (max-width: 600px)
{

    body{
        width: 100%;
    }

    header
    {
        display: flex;
        flex-direction: column;
    }

    #entete
    {
        padding-left: 10px;
    }

    #hebergements
    {
        display: flex;
        flex-direction: column-reverse;
    }

    #part1 
    {
        background-color: white;
        width: 90%;
        max-width: 100%;
        margin-right: 0%;
        padding: 0%;

    }

    #part1 figure
    {
        width: 100%;
        margin: 0px;
    }

    #part1 figcaption
    {
        box-shadow: 0px 3px 0px #F2F2F2; 
    }

    #part3
    {
        border-radius: 0%;
        width: 100%;
    }

    #part3 figure
    {
        display: flex;
        width: 90%;
        margin: 10px;
        border: 1px solid#FFFF;
        border-radius: 20px;
    }

    #part3 figure img 
    {
        height: 175px;
        object-fit: cover;

    }

    #actividad
    {
        flex-direction: column;
        padding: 0px;
    }

    #actividad figure
    {
        width: 82%;
    }
    
    #actividad img
    {
    
        height: 150px;
        width: 100%;
    }

    article
    {
        max-width: 100%;
        max-height: 100%;
        width: 100%;
        height: fit-content;

    }

    footer
    {
        flex-direction: column;
        padding: 0px;
        width: 90%;
    }

    #mform
    {
        padding-left: 0px;
        padding-right: 0px;
    }
    
    nav
    {
        border-bottom: 3px solid #f2f2f2;
        border-top: none;
    }

    nav strong {
        padding-right: 0px;
        padding-left: 0px;
    }

    nav a:hover
    {
        color: #0065fc;
        border-bottom: 3px solid #0065fc;
        border-top: 0px;
        padding-top: 0px;
        padding-left: 0px;
        
    }

    #conteneur 
    {
        display: flex;
        margin-top: 30px;
        flex-wrap: wrap;
        flex-direction: column;
    }

    #cont1
    {
        display: flex;
    }

    #cont2
    {
        width: 50%;
    }

    #cont3
    {
        width: 71%;
    }

    #conteneur .fas {
        background-color: #DEEBFF;
        border-radius: 50%;
        border: 2px solid #DEEBFF;
        padding: 12px;
        margin: -10px;
    }

    i.fas.fa-search
    {
        display: initial;
    }

    button 
    {
        border-radius: 15px 15px 15px 15px;
        padding: 0px 0px;
        width: 15%;
        
    }

    button span 
    {
        display: none;
    }

    .ele1
    {
        position: relative;
        left: 39px; 
        width: 50%;
        
    }

    .ele2
    {
        position: relative;
        left: 66px;;
        width: 50%;

    }
    .ele3
    {
        position:relative;
        top: -83px;
        color: #0065fc;
    }
    a
    {
        color: inherit;
        width: 100%;
        display: block;
    }
}
@media screen and (min-width:601px) and (max-width: 800px)
{

    body{
        width: 100%;
    }

    header
    {
        display: flex;
        flex-direction: column;
    }

    #entete
    {
        padding-left: 10px;
    }

    #hebergements
    {
        display: flex;
        flex-direction: column-reverse;
    }

    #part1 
    {
        background-color: white;
        margin-right: 0%;
        padding: 0%;
        margin: auto;
        max-width: 90%;

    }

    #part1 figure
    {
 
        width: 96%;
        margin: 5px;
       
    }

    .hebitem
    {
        width: 100%;
    }

    #part1 figcaption
    {
        box-shadow: 0px 3px 0px #F2F2F2; 
    }

    #part3
    {
        border-radius: 0%;
        width: 100%;
    }

    #part3 figure
    {
        display: flex;
        width: 90%;
        margin: 10px;
        border: 1px solid#FFFF;
        border-radius: 20px;
    }

    #part3 figure img 
    {
        height: 175px;
        object-fit: cover;

    }

    #actividad
    {
        flex-direction: column;
        padding: 0px;
    }

    #actividad figure
    {
        width: 85%;
    }
    
    #actividad img
    {
    
        height: 150px;
        width: 100%;
    }

    article
    {
        max-width: 100%;
        max-height: 100%;
        width: 100%;
        height: fit-content;

    }

    footer
    {
        flex-direction: column;
        padding: 0px;
        width: 90%;
    }

    #mform
    {
        padding-left: 0px;
        padding-right: 0px;
    }
    
    nav
    {
        border-bottom: 3px solid #f2f2f2;
        border-top: none;
    }

    nav strong 
    {
        padding-right: 0px;
        padding-left: 0px;
    }

    nav a:hover
    {
        color: #0065fc;
        border-bottom: 3px solid #0065fc;
        border-top: 0px;
        padding-top: 0px;
        padding-left: 0px;
        
    }

    #conteneur 
    {
        display: flex;
        margin-top: 30px;
        flex-wrap: wrap;
        flex-direction: column;
    }

    #cont1
    {
        display: flex;
    }

    #cont2
    {
        width: 50%;
    }

    #cont3
    {
        width: 71%;
    }

    #conteneur .fas {
        background-color: #DEEBFF;
        border-radius: 50%;
        border: 2px solid #DEEBFF;
        padding: 12px;
        margin: -10px;
    }

    i.fas.fa-search
    {
        display: initial;
    }

    button 
    {
        border-radius: 15px 15px 15px 15px;
        padding: 0px 0px;
        width: 15%;
        
    }

    button span 
    {
        display: none;
    }

    .ele1
    {
        position: relative;
        left: 39px; 
        width: 50%;
        
    }

    .ele2
    {
        position: relative;
        left: 66px;;
        width: 50%;

    }
    .ele3
    {
        position:relative;
        top: -83px;
        color: #0065fc;
    }
    a
    {
        color: inherit;
        width: 100%;
        display: block;
    }
}
@media screen and (min-width:801px) and (max-width: 1024px)
{

    body{
        width: 100%;
    }

    header
    {
        display: flex;
        flex-direction: column;
    }

    #entete
    {
        padding-left: 10px;
    }

    #hebergements
    {
        display: flex;
        flex-direction: column-reverse;
    }

    #global
    {
        flex-direction: column;
    }

    #part1 
    {
        background-color: white;
        width: 80%;
        max-width: 100%;
        margin-right: 0%;
        padding: 0%;

    }

    #part1 figure
    {
        width: 100%;
        margin: 0px;
    }

    #part1 figcaption
    {
        box-shadow: 0px 3px 0px #F2F2F2; 
    }

    #part3
    {
        border-radius: 0%;
        width: 80%;
    }

    #part3 figure
    {
        display: flex;
        width: 90%;
        margin: 10px;
        border: 1px solid#FFFF;
        border-radius: 20px;
    }

    #part3 figure img 
    {
        height: 175px;
        object-fit: cover;

    }

    #actividad
    {
        flex-direction: column;
        padding: 0px;
        width: 80%;
    }

    article
    {
        max-width: 100%;
        max-height: 100%;
        width: 100%;
        height: fit-content;

    }

    #actividad figure
    {
        width: 100%;
    }
    
    #actividad img
    {
    
        height: 150px;
        width: 100%;
    }

    footer
    {
        flex-direction: column;
        padding: 0px;
        width: 90%;
    }

    #mform
    {
        padding-left: 0px;
        padding-right: 0px;
    }

    nav
    {
        border-bottom: 3px solid #f2f2f2;
        border-top: none;
    }

    nav strong
    {
        padding-right: 0px;
        padding-left: 0px;
    }
    
    nav a:hover
    {
        color: #0065fc;
        border-bottom: 3px solid #0065fc;
        border-top: 0px;
        padding-top: 0px;
        padding-left: 0px;
        
    }

    #conteneur 
    {
        display: flex;
        margin-top: 30px;
        flex-wrap: wrap;
        flex-direction: column;
    }

    #cont1
    {
        display: flex;
    }

    #cont2
    {
        width: 50%;
    }

    #cont3
    {
        width: 71%;
    }

    #conteneur .fas {
        background-color: #DEEBFF;
        border-radius: 50%;
        border: 2px solid #DEEBFF;
        padding: 12px;
        margin: -10px;
    }

    i.fas.fa-search
    {
        display: initial;
    }

    button 
    {
        border-radius: 15px 15px 15px 15px;
        padding: 0px 0px;
        width: 15%;
        
    }

    button span 
    {
        display: none;
    }

    .ele1
    {
        position: relative;
        left: 39px; 
        width: 50%;
        
    }

    .ele2
    {
        position: relative;
        left: 66px;;
        width: 50%;

    }
    .ele3
    {
        position:relative;
        top: -83px;
        color: #0065fc;
    }
    a
    {
        color: inherit;
        width: 100%;
        display: block;
    }
}
@media screen and (min-width:1025px) and (max-width: 1225px)
{

    body{
        width: 100%;
    }

    header
    {
        display: flex;
        flex-direction: column;
    }

    #entete
    {
        padding-left: 10px;
    }

    #hebergements
    {
        display: flex;
        flex-direction: column-reverse;
    }

    #global
    {
        width: 100%;
    }

    #part1 
    {
        background-color: white;
        width: 100%;
        max-width: 100%;
        margin-right: 0%;
        padding: 0%;

    }

    

    #part1 figure
    {
        width: 75%;
       
    }

    #part1 figcaption
    {
        box-shadow: 0px 3px 0px #F2F2F2; 
    }

    .hebitem
    {
        width: 50%;
    }

    #part3
    {
        border-radius: 0%;
        width: 100%;
    }

    #wrapper
    {
        display:flex;
    }

    #part3 figure
    {
        display: flex;
        width: 90%;
        margin: 10px;
        border: 1px solid#FFFF;
        border-radius: 20px;
    }

    #part3 figure img 
    {
        height: 175px;
        object-fit: cover;

    }

    #actividad
    {
        flex-direction: column;
        padding: 0px;
    }

    article
    {
        max-width: 100%;
        max-height: 100%;
        width: 100%;
        height: fit-content;

    }

    #actividad figure
    {
        width: 75%;
    }
    
    #actividad img
    {
    
        height: 150px;
        width: 100%;
    }

    footer
    {
        
        padding: 0px;
    }

    #mform
    {
        padding-left: 0px;
        padding-right: 0px;
    }
    
    nav a:hover
    {
        color: #0065fc;
        border-bottom: 3px solid #0065fc;
        border-top: 0px;
        padding-top: 0px;
        padding-left: 0px;
        
    }

    #conteneur 
    {
        display: flex;
        margin-top: 30px;

    }

    #cont1
    {
        display: flex;
    }

    #cont2
    {
        width: 50%;
    }

    #cont3
    {
        width: 71%;
    }

    #conteneur .fas {
        background-color: #DEEBFF;
        border-radius: 50%;
        border: 2px solid #DEEBFF;
        padding: 12px;
        margin: -10px;
    }

    #conteneur i.fas.fa-money-bill-wave
    {
        padding: 17px
    }

    #conteneur i.fas.fa-child
    {
        padding: 17px;
    }

    #conteneur i.fas.fa-heart
    {
        padding: 17px;
    }


    i.fas.fa-search
    {
        display: initial;
    }

    button 
    {
        border-radius: 15px 15px 15px 15px;
        padding: 0px 0px;
        width: 15%;
        
    }

    button span 
    {
        display: none;
    }

    .ele1
    {
        position: relative;
        left: 39px; 
        border-bottom: 3px solid #f2f2f2;
        border-top: none;
        width: 50%;
        
    }

    .ele2
    {
        position: relative;
        left: 66px;;
        border-bottom: 3px solid #f2f2f2;
        border-top: none;
        width: 50%;

    }
    .ele3
    {
        position:relative;
        top: -83px;
        color: #0065fc;
    }
    a
    {
        color: inherit;
    }
}
