body
{ 
    width: 100%;
    margin: 0;
    padding: 0;
}
@font-face
{
    font-family:'Raleway-Black';
    src: url(<Raleway-Black.ttf>);
}
.fas
{
    color: #0065FC;
    height: 30px; 
	width: 30px; 
	background-color: #F2F2F2;
	border: 1px solid #F2F2F2;
	border-radius: 50%;
    
}
header
{   
    display: flex;
    justify-content: space-between;
}
nav
{
    margin-top: 10px;
}
a
{
    
        padding: 40px;
        text-decoration: None;
        font-size: 18px;
        font-weight: 600;
        color: #000;
        
    
}
a:hover
{
    color: #0065fc;
    border-top: 3px solid #0065fc;
    padding-top: 5px;
}
}
#part1
{   
    display: flex;
}
#part2
{   
    display: flex;
}
footer
{
    display: flex;
    justify-content: space-between;
    width: 100%;
    border: 1px groove ;
    padding:5px;
    background-color: #F2F2F2;
}
#blok
{
    width: 65%;
    border: 1px groove ;
    border-radius:10px;
    background-color: #F2F2F2;
   
}
aside
{
    width: 25%;
    border: 1px groove ;
    border-radius:10px;
    background-color: #F2F2F2;
}
#conteneur
{
    display: flex;
 
}
#mar1
{
    width: 100%;
    border 1px groove;
    border-radius: 1px ;
    background-color: #FFFF;
}
